body{
  margin: 0;
  
}
.main-container{
  display: flex;

  
  justify-content: space-around;
}



.list-section{ 
 display: flex;
 list-style: none;
 gap: 30px;
 font-size: larger;
   
}

.search-section input{
   margin: 15px 0px 0px 0px;
  border-radius: 6px;
  padding: 8px;
}
.right{
  margin-top: 17px;

}
.right button{
  padding:5px;
  color:white;
  background-color: black;
  border: 1px solid white;

  
}
.sign-up-btn{
  margin-right: 10px;
}

.banner img{
  margin-top: 10px;
  width: 100%;
}
.women-banner img{
  width:100%
}
.Men-images{
  display: flex;
  gap: 30px;
}
.box img{
   width: 250px;
  height: 280px;

}
.box h3{
  text-align: center;
}
.buy-now-btn{
  display: block;
  margin: 0 auto;
 color: white;
 background-color: rgba(0, 145, 255, 0.888);
 border: none;
 height: 40px;
 width: 80px;
 margin-bottom: 10px;
 cursor: pointer;
 font-size: 15px;

}



