body{
  margin: 0;
  
}
.main-container{
  display: flex;

  
  justify-content: space-around;
}



.list-section{ 
 display: flex;
 list-style: none;
 gap: 30px;
 font-size: larger;
   
}

.search-section input{
   margin: 15px 0px 0px 0px;
  border-radius: 6px;
  padding: 8px;
}
.right{
  margin-top: 17px;

}
.right button{
  padding:5px;
  color:white;
  background-color: black;
  border: 1px solid white;

  
}
.sign-up-btn{
  margin-right: 10px;
}

.banner img{
  margin-top: 10px;
  width: 100%;
}
.women-banner img{
  width:100%
}
.Men-images{
  display: flex;
  width: 180px;
  height: 250px;
  gap: 30px;
}
.one-unit img{
  width: 220px;
  height: 250px;
  

}
